* {
border: 0;
margin: 0;
padding: 0;
}

body {
    font-family: 'DotGothic16', sans-serif;
}
#navbar {
    display: flex;
    background: rgb(97, 41, 41);
}

#title {
    display: flex;
    padding: 1em;
    margin-left: -10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    list-style: none;
    font-size: 28px;
    font-weight: bold;
   color: rgb(228, 216, 216);

}

#nav-ul {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
    margin-right: 0%;
}

.nav-li {
    padding: 5px 20px 5px 20px;
    list-style: none;
    text-decoration: none;
    margin: 10px;
    border: 1px solid rgba(97, 41, 41);
    box-shadow: 5px 5px;
  background: rgb(228, 216, 216);
  
}

.nav-li:hover {
    box-shadow: 3px 3px;
}

.nav-li a {
    text-decoration: none;
    color:rgb(97, 41, 41)
}

#shop-main {
    background: rgb(228, 216, 216);
    width: 100%;
    height: 100vh;
}

.shop-div {
    display: grid;
    grid: auto auto auto;
    border-top: 3px solid black;
    width: 100%;
    height: 100vh;
}